body {background-color:black;font-family:arial;color:white;}
h1{color:grey;font-family:verdana}
.maindiv {
    background-color: white;
    color: black;
    width: 34.72222222222222vw;
    padding: 20px;
    border-radius: 25px;
    align-self:center;
    margin: auto;
}

table{
    border-spacing: 0px  0.5555555555555556vw;
}

.highlight{
    background-color: yellow;
}

#space{
    margin-left: 15%;
}

